# Environment files (sensitive info)
.env

# Databases
*.db
*.sqlite

# Python virtual environment
.venv/
venv/
ENV/
env/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db
